h1{
color:yellow;
}
h2{
color:brown;
}
h3{
color:red;
}
.header{
background-color:darksalmon;
display:flex;
justify-content:space-around;
}
.menu{

font-size:30px;
padding:30px;
background-color: blueviolet;
}
.body{
background-color:lawngreen;
margin-left:100px;
margin-right:100px;
margin-bottom:100px;
}
.footer{
font-size:100px;
color:pink
}
.image1{
position:relative;
}
a:visited{
color:white;
}
